#shelf {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


#book {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    padding: 0px;
    margin: 0px;
}

#book img {
    border-radius: 14px 14px 4px 4px;
    border: 2px solid lightgray;
    padding: 0px;
    margin: 0px;
    transition: transform 0.3s ease;
    object-fit: cover;
}

#book.book {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    min-height: 200px;
    min-width: 200px;

    border: solid 2px lightgray;
    border-radius: 16px;

    overflow: hidden;
    padding: 0px;
    margin: 4px;
}

#book.book:hover {
    background-color: whitesmoke;
}

#book.book:hover img {
    transform: scale(1.38);
    transform-origin: top;
}

#book.book:hover .desc {
    opacity: 0;
    visibility: hidden;
}

#book.desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 12px;
    max-width: 260px;
    flex-grow: 1;
}

#book.cost {
    color: red;
    font-weight: bolder;
    margin-bottom: auto;
}

#book.title {
    font-weight: bold;
    font-style: italic;
    color: #333;
    margin-bottom: auto;
}

#book.rating {
    font-size: x-small;
    color: darkgray;
    margin: 0;
    width: 100%;
}

#book.stars {
    font-size: x-large;
}

#book.stars.orange {
    color: orange;
}

#book.stars.gray {
    color: gray;
}

#book.author {
    color: gray;
    font-style: italic;
    font-size: xx-small;
    margin: 0 0 6px 0;
}