body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  text-align: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #fff;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container input[type="text"] {
  width: 80%;
  padding: 10px;
  border: solid 1px black;
  border-radius: 6px;
}

.container button {
  padding: 8px 40px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.container ul {
  list-style-type: none;
  padding: 0;
}

.container #taskList li {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;

  padding: 8px 0;
}

.container #taskList li button {
  background-color: #ff3636;
  padding: 8px 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.container #themeToggle {
  background: none;
  border: 2px solid #007bff;
  border-radius: 6px;

  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 4px;
}

.container #themeToggle:hover {
  background-color: #007bff;
  color: white;
}

body.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

body.dark-theme .container {
  background-color: #202020;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

body.dark-theme .container input[type="text"] {
  background-color: #2d2d2d;
  color: white;
  border-color: #444;
}
