body {
    background-color: #35654D;
}

.deck {
    background-color: #325f48;
    border: 2px solid #ccc;
    border-radius: 20px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28pt;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 10px;
    padding: 40px 0;
}

.card {
    position: relative;
    width: 180px;
    height: 250px;

    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    top: 0;

    transition: top 0.3s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 72pt;
}

.card:hover {
    top: -20px;
}

.card::before,
.card::after {
    content: attr(rank) "\A" attr(suit);
    position: absolute;

    font-size: 26pt;
    text-align: center;
    width: 24px;
}

.card::before {
    top: 8px;
    left: 8px;
}

.card::after {
    bottom: 8px;
    right: 8px;
    transform: rotate(180deg);
}

.card.red {
    color: #d00;
}

.card.black {
    color: #111;
}