
body {
    background-color: antiquewhite;
    font-family: 'Arial', sans-serif;
    font-size: large;
    text-align: center;
    color: #333;
}

table {
    margin: 0 auto;
    border: 4px solid #333;
    border-collapse: collapse;
}

tr, th {
    padding: 8px;
    text-align: center;
    border: 2px solid #333;
    min-width: 60px;
    height: 60px;
}