.container {
  display: flex;
  flex-flow: column;
  align-items: center;

  margin: 20px 200px;
  padding: 20px;
  padding-bottom: 40px;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18pt;
  text-align: center;

  background-color: #70b80c;
  border-radius: 12px;
}

.textImage .clickableText {
  cursor: pointer;
  text-decoration: underline;
}

.textImage img {
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
