* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #4888ff;
    text-align: center;
    margin: 0 auto;
    padding: 12px;
}

footer {
    background-color: #4888ff;
    text-align: center;

    padding: 12px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

#main {
    padding: 0 40px;
    overflow: hidden;
    margin-bottom: 60px;
}

.left {
    float: left;
    width: 60%;
    display: block;
}


.right {
    float: right;
    width: 30%;
    display: block;
    font-size: large;
    background-color: rgba(128, 128, 128, 0.171);
    margin: 12px;
    margin-top: 40px;
    padding: 12px;
}

.right img {
    width: 100%;
    height: auto;
    padding-bottom: 0px;
}

.right p {
    background-color: #e4e4e4;
    margin: 0 auto;
    padding: 12px;
    padding-top: 0px;
}

.below {
    clear: both;
    padding-top: 10px;
}